@model GroupB01_BCIC.Models.IncomeSource

@{
    ViewData["Title"] = "SearchIncome";
}

<h2>SearchIncome</h2>

<div>
    <h4>IncomeSource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentAdmissionFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentAdmissionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentSessionFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentSessionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentTuitionFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentTuitionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExaminationFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExaminationFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFillUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFillUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StationarySell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StationarySell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditIncome" asp-route-id="@Model.IncomeId">Edit</a> |
    <a asp-action="IncomeList">Back to List</a>
</div>
