@model List<GroupB01_BCIC.Models.IncomeSource>;

@{
    Layout = "_LayoutForAdmin";
    ViewData["Title"] = "Income List";
}

<h2>Income List</h2>

<table class="table table-bordered" cellpadding="1" cellspacing="1">
    <thead>
        <tr>
            <th>Income Id</th>
            <th>Student Admission Fee</th>
            <th>Student Session Fee</th>
            <th>Student Tuition Fee</th>
            <th>Examination Fee</th>
            <th>Form Fill Up</th>
            <th>Stationary Sell</th>
            <th>Donation</th>
            <th>TotalIncome</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IncomeId</td>
                <td>@item.StudentAdmissionFee</td>
                <td>@item.StudentSessionFee</td>
                <td>@item.StudentTuitionFee</td>
                <td>@item.ExaminationFee</td>
                <td>@item.FormFillUp</td>
                <td>@item.StationarySell</td>
                <td>@item.Donation</td>
                <td>@item.TotalIncome</td>
                <td>
                    <a asp-action="EditIncome" asp-route-id="@item.IncomeId">Edit</a> |
                    <a asp-action="IncomeDetails" asp-route-id="@item.IncomeId">Details</a> |
                    <a asp-action="DeleteIncome" asp-route-id="@item.IncomeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
