@model List<GroupB01_BCIC.Models.EngComStudent>
@{
    Layout = "_LayoutForAdmin";
    ViewData["Title"] = "Student List";
}

<h1 style="text-align: center;">English Version Commerce Students List</h1>

<div class="container" style="width: 20%;">
    <div class="form-group">
        <div class="input-group-addon">
            <form asp-controller="EnglishVS" asp-action="EngComStudentSearch" asp-route-id="s" method="post">
                <input name="s" placeholder="Search By Id" class="form-control" />
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table border="1" class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <td style="text-align:center; font-weight: bold;">Student Id</td>
                <td style="text-align:center; font-weight: bold;">Student Name</td>
                <td style="text-align:center; font-weight: bold;">Department</td>
                <td style="text-align:center; font-weight: bold;">Present Address</td>
                <td style="text-align:center; font-weight: bold;">Permanent Address</td>
                <td style="text-align:center; font-weight: bold;">Contact</td>
                <td style="text-align:center; font-weight: bold;">Email</td>
                <td style="text-align:center; font-weight: bold;">Action</td>
            </tr>
        </thead>
        @foreach (var f in Model)
        {
            <tr>
                <td style="text-align:center">@f.StudentId</td>
                <td style="text-align:center">@f.StudentName</td>
                <td style="text-align:center">@f.Department</td>
                <td style="text-align:center">@f.PresentAddress</td>
                <td style="text-align:center">@f.PermanentAddress</td>
                <td style="text-align:center">@f.Contact</td>
                <td style="text-align:center">@f.Email</td>
                <td style="text-align:center">
                    <a asp-action="EngComStudentDetails" asp-route-id="@f.StudentId" class="btn btn-primary">Details</a>
                    <a asp-action="EditEngComStudent" asp-route-id="@f.StudentId" class="btn btn-primary">Edit</a>
                    <a asp-action="DeleteEngComStudent" asp-route-id="@f.StudentId" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
